.navbar {
  background: linear-gradient(to bottom right, #247195, #8ea2a9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.nav-link {
  color: white !important;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #000000 !important; /* Black font on hover */
  background: rgba(255, 255, 255, 0.3); /* Optional: Add light background */
  border-radius: 5px;
  padding: 8px 12px;
}

.btn-danger {
  background-color: #ff4d4d !important;
  border: none;
}

.btn-danger:hover {
  background-color: #33adff !important;
}

h2 {
  color: #343a40;
  font-weight: 600;
}
